<%= link_to "Let's get started", preferences_signups_path, :class => "btn btn-default" %>


<a href='http://distilleryimage2.s3.amazonaws.com/2c223e36648711e1abb01231381b65e3_7.jpg' class="fancybox">
  <img src='http://distilleryimage2.s3.amazonaws.com/2c223e36648711e1abb01231381b65e3_5.jpg' alt="">
</a>

<script>
  $(".fancybox").fancybox();
</script>