    <div class="span4 profile_action_container">
      <% if is_owner %>
        <% if user.instagram_account %>
          <a class="btn btn-primary btn-large profile_action" data-toggle="modal" id="open_image_preview_modal" href="#image_preview_modal" data-token=<%="#{user.instagram_account.token}"%> data-uid=<%="#{user.instagram_account.uid}" %>>Add Photos</a></p>
        <% else %>
        <p>
          <a class="btn btn-primary btn-large profile_action" data-toggle="modal" id="link-instagram" href=<%="#{user_omniauth_authorize_path(:instagram)}"%>>Link to Instagram</a>
        <% end %>
      <% else %>
        <p><a class="btn btn-primary btn-large profile_action" id="open_message_modal" data-toggle="modal" href="#message_modal">Message</a></p>
        <p><a class="btn btn-primary btn-large profile_action">Ask <%= "#{@user.objective_pronoun}" %> out</a></p>
        <p><a class="btn btn-info btn-large profile_action">Favorite</a></p>
      <% end %>
    </div>
