input.search_query {
  font-size: 1.25em;
  height: 1.25em;
  padding-right: 0px;
  margin-right: 0px;
  width: 400px;
}

.event_user_container {
  padding-bottom:20px;
  padding-left:10px;
}

.event_letsgo {
  color: #999;
  font-style: italic;
  font-family: Georgia;
  font-size: 1.2em;
}

.event_description {
  color: #333;
  font-family: Georgia;
  font-size: 1.2em;    
}

.event_description_container {
  padding-top:10px;
  margin-left:0px !important;
}

.event_user_details {
  margin: 0px;
  color: #AAA;
  font-size: 1em;
}

.event_container {
  margin-left: 0px !important;
}

.event_display_name {
  margin: 8px 0px 5px 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: #E86D45;
}

.test {
color: #8DD5F2;
color: #06ADBF;
color: #7ABF49;
color: #BDD982;
color: #8C0404;
}

input.deal_filter_radius {
  width: 40px;
  font-size: 1.25em;
  height: 1.25em;
}

input.deal_filter_zipcode {
  width: 60px;
  font-size: 1.25em;
  height: 1.25em;
}

span.deal_filter_form {
  font-size: 1.25em;
}