div.profile_img {
  overflow: hidden;
  height: 250px;
  width: 250px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}

img.profile_img {
  min-width: 250px;
}

div.profile_img_thumb {
  margin: 0px;
  overflow: hidden;
  height: 100px;
  width: 100px;"
}

img.profile_img_thumb {
  width: 100px;
}

.bubbles {
  /* Bubbles by sampath_roots 31-40*/
  color: #8DD5F2;
  color: #06ADBF;
  color: #7ABF49;
  color: #BDD982;
  color: #8C0404;
}

.event {
  background: #EEE;
  padding: 10px;
}
