div.profile_img {
  overflow: hidden;
  height: 250px;
  width: 250px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}

img.profile_img {
  min-width: 250px;
}

div.profile_img_thumb {
  margin: 0px;
  overflow: hidden;
  height: 100px;
  width: 100px;"
}

img.profile_img_thumb {
  width: 100px;
}

.bubbles {
  /* Bubbles by sampath_roots 31-40*/
  color: #8DD5F2;
  color: #06ADBF;
  color: #7ABF49;
  color: #BDD982;
  color: #8C0404;
}

.event {
  background: #EEE;
  padding: 10px;
}

#profile_about_me_container > div {
  font-size: 1.25em;
  padding: 15px 0px;
  border-bottom: 1px solid #CCC;
}

#profile_about_me_container > div:first-child {
  border-top: 1px solid #CCC;
}

#image_preview_modal {
  width: 450px;
  padding: 0px;
}

.carousel {
  margin: 10px 0px;
}

.profile_container {
  margin-top:15px;
  background: #EEE;
}

p.profile_display_name {
  color: #E86D45;
  font-size: 2.5em;
  font-weight: bold;
  padding: 15px 0px;
}

p.profile_user_details {
  font-size: 1.5em;
  padding-bottom:5px;
}

a.profile_action {
  width: 170px;
  font-size: 1.25em;
}

.profile_action_container {
  text-align:right;
}

.edit {
  height:30px;
  width:50px;
}

.placeholder {
  color: #AAA;
}

form {
  display: inline !important;
}

select {
  display: inline;
  width: auto;
  font-size: 1em;
  height: 1.25em;
}

#profile_bottom {
  padding-top:30px;
}

.profile_about_me_label {
  color: #AAA;
  font-size: 0.8em;
}

.enable_edit {
  position: relative;
}

.icon {
  width:10px;
  position:absolute;
  right: 15px;
  top: 15px;
}

.profile_events {
  margin-bottom:20px;
}

#height, #employment {
  width: 100px;
  height: 1.25em;
}

li.thumbnail {
  margin-left: 0px !important;
  margin-right: 12px;
}
