p.signup_form {
  font-size: 1.25em;
}

select {
  font-size: 1.25em;
  height: 1.25em !important;
}

.signup_form > input {
  font-size: 1.25em !important;
  height: 1.25em;
}

select.gender {
  width: 150px;
}

input.age {
  width: 30px;
}

input.zip {
  width: 100px !important;
  height: 1.25em !important;
  font-size: 1.25em !important;
}

input.btn {
  height: 2em;
  font-size: 1.25em;
}

select.birthday {
  width: 100px;
}

label {
  font-size: 1.25em;
}

#user_birthday_2i {
  width: 150px;
}

.field_with_errors {
  width: 100px;
}