#new_user > .control-group > .control-label {
  width: 100px;
}

#new_user > .control-group > .controls {
  margin-left: 120px;
}

p.signup_form {
  font-size: 1.25em;
  margin-bottom: 20px;
}

select {
  font-size: 1.25em;
  height: 1.25em !important;
}

.signup_form > input {
  font-size: 1.25em !important;
  height: 1.25em;
}

select.gender {
  width: 150px;
}

input.age {
  width: 30px;
}

input.zip {
  width: 100px !important;
  height: 1.25em !important;
  font-size: 1.25em !important;
}

input.btn {
  height: 2em;
  font-size: 1.25em;
}

select.birthday {
  width: 100px;
}

label {
  font-size: 1.25em;
}

#user_birthday_2i {
  width: 150px;
}

#user_birthday_3i {
  width: 80px;
}


.field_with_errors {
  width: 100px;
}