<script id='projected-revenue-search' type="text/x-handlebars-template">
  <p class='alert alert-info'>
    Expected revenue of the deal when it ends. It is based on current revenue and the 
    time left for the deal. 
  </p>

  <form class="well form-search" id='projected-revenue-search-form'>
    <input type="text" id='projected-revenue-search-box' class="input-large search-query" placeholder='Deal Name'>
    <button type="submit" class="btn">Search</button>
  </form>

  <div id='projected-revenue-html'>
    Loading...
  </div>
</script>