<script id='projected-revenue-table' type="text/x-handlebars-template">
  <h4>Top Projected Revenue Deals</h4>

  <table class='table table-bordered'>
    {{#each revenues}}
      <tr>
        <td>
          <img src='{{[1].image_url}}' style='width: 60px; height: 60px; float: left;'></img> 
          <div style='float: left; margin-left: 10px; width: 450px;'>
            <a href='{{[1].original_url}}' target='_blank'>{{[1].title}}</a><br />
            from <span class='date_added_div'>{{[1].date_added}}</span> to <span class='date_added_div'>{{[1].end_date}}</div>
          </div>

          <div style='font-size: 13px; float: right;'><span class='label label-success price' style='font-size: 13px'>{{[0]}}</span></div>
        </td>
      </tr>
    {{/each}}
  </table>

  <script type='text/javascript'>
    $(".date_added_div").each(function() {
      var date = $(this).html();
      $(this).html(new Date(date).format("mm/dd/yyyy"));
    });

    $(".price").each(function() {
      $(this).html("$"+parseInt($(this).html()));
    });
  </script>
</script>