<script id="velocity-data-table" type="text/x-handlebars-template">
  <table class='table table-bordered'>
    {{#each data}}
      <tr>
        <td>{{[1].original_id}}
        <td><a href='{{[1].original_url}}' target='_blank'>{{[1].title}}</a></td>
      </tr>
    {{/each}}
  </table>
</script>