<div id="messages">
</div>

<script>
  new App.MessagesIndex();

  $(".message").live("click", function(){
    window.location=$(this).find("a.show_message").attr("href"); 
    return false;
  });

  $(".message").live({
    mouseenter:
      function(){ $(this).addClass("message_hover"); },
    mouseleave:
      function(){ $(this).removeClass("message_hover"); },
  });

</script>