<div class='widget'>
  <div class='widget-header'>
    <i class="icon-plus-sign"></i>&nbsp;&nbsp;
    Sign In
  </div>
  <div class='widget-content'>
    <form class='form-vertical' method='post' action='<%= user_session_path %>'>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <input type="text" id="email" name='user[email]' value='<%= params[:user][:email] if params[:user] %>' />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Password</label>
        <div class="controls">
          <input type="text" id="password" name='user[password]' value='<%= params[:user][:password] if params[:user] %>' />
        </div>
      </div>
      <div class='contron-group'>
        <input type='submit' class='btn' value='Sign In' />
      </div>
    </form>
  </div>
</div>