<div class="row-fluid" style="display:block">
  <div class="well span12">
    <%= form_tag api_v1_deals_path, :method => "post", :class => "form-inline" do %>
      <span class="deal_filter_form">Within</span>
      <%= text_field_tag :radius, "10", :class => 'deal_filter_radius' %> <span class="deal_filter_form">miles of</span>
      <%= text_field_tag :zipcode, "#{current_user.zipcode}", :class => 'deal_filter_zipcode' %>
      <%= submit_tag 'Filter Deals', :class => 'btn btn-primary btn-large filter_deals' %>
    <% end %>
  </div>
</div>

<div class="row-fluid span12">
  <div id="deals"></div>
</div>

<div class="modal hide" id="event_modal">
</div>

<script>
  new App.DealsIndex({ el: "#app" })
</script>