<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://www.highcharts.com/js/highcharts.js" type="text/javascript"></script>
<script src='http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js' type='text/javascript'></script>

<div class='span8' style='margin-right: 20px'>
  <h2 id='header'></h2>
  <hr />
  <div id='container'></div>
</div>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Purchases</li>
      <li class="active"><a href="#" id='chart_voh' class='charts-link' data-f="velocity_by_hour">Fastest Growing Deals</a></li>

      <li class="nav-header">Revenue</li>
      <li><a href='#' id='chart_districts' class='charts-link' data-f="top_districts">Top Districts</a></li>

      <li class='nav-header'>Projection</li>
      <li><a href='#' id='projection_link' data-f="projected_revenue" class='charts-link'>Revenue</a></li>
      <li><a href='#' id='deal_probability_link' data-f="deal_probability" class='charts-link'>Deal Probability</a></li>
    </ul>
  </div>
</div>

<!-- Templates -->

<script id="velocity-data-table" type="text/x-handlebars-template">
  <table class='table table-bordered'>
    {{#each data}}
      <tr>
        <td>{{[1].original_id}}
        <td><a href='{{[1].original_url}}' target='_blank'>{{[1].title}}</a></td>
      </tr>
    {{/each}}
  </table>
</script>

<script id="districts-data-table" type="text/x-handlebars-template">
  <p class='alert alert-info'>
    Highest earning districts by revenue
  </p>

  <ul id='ddtabs' class="nav nav-tabs">
    <li class='active'><a href="#dg" data-toggle="tab">Top 10</a></li>
    <li><a href="#dt" data-toggle="tab">Data</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="dg">
    </div>
    <div class='tab-pane' id='dt'>
      <table class='table table-bordered'>
        {{#each data}}
          <tr>
            <td>
              <b>{{district}}</b><br />
              ${{revenue}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</script>

<script id='projected-revenue-search' type="text/x-handlebars-template">
  <p class='alert alert-info'>
    Expected revenue of the deal when it ends. It is based on current revenue and the 
    time left for the deal. 
  </p>

  <form class="well form-search" id='projected-revenue-search-form'>
    <input type="text" id='projected-revenue-search-box' class="input-large search-query" placeholder='Deal Name'>
    <button type="submit" class="btn">Search</button>
  </form>

  <div id='projected-revenue-html'>
    Loading...
  </div>
</script>

<script id='projected-revenue-table' type="text/x-handlebars-template">
  <h4>Top Projected Revenue Deals</h4>

  <table class='table table-bordered'>
    {{#each revenues}}
      <tr>
        <td>
          <img src='{{[1].image_url}}' style='width: 60px; height: 60px; float: left;'></img> 
          <div style='float: left; margin-left: 10px; width: 450px;'>
            <a href='{{[1].original_url}}' target='_blank'>{{[1].title}}</a><br />
            From {{[1].date_added}} to {{[1].end_date}}
          </div>

          <div style='font-size: 13px; float: right;'><span class='label label-success' style='font-size: 13px'>${{[0]}}</span></div>
        </td>
      </tr>
    {{/each}}
  </table>
</script>

<script type="text/x-handlebars-template" id='deal_probability_template'>
  <p class='alert alert-info'>
    The probability of a deal occuring within the next week that belongs
    to a certain category. It can be filtered by location.
  </p>

  <form class="well form-search" id='deal_probability_template_form'>
    What is the chance of <input type="text" id='dpt_cat' class="input-small category-typeahead" placeholder='Deal term'> deal occuring <input type='text' id='dpt_date' class='input-small' placeholder='Date' /> in <input type='text' id='dpt_loc' class='input-small division-typeahead' placeholder='Location' />
    <button type="submit" class="btn">Compute</button>
  </form>

  <div id='deal_probability_template_search'></div>

  <script>
    $.get('/divisions', function (data) {
      $('.division-typeahead').typeahead({
        source: data
      });
    });

    // $.get('/categories', function (data) {
    //   $('.category-typeahead').typeahead({
    //     source: data
    //   });
    // });
  </script>
</script>

<script type='text/x-handlebars-template' id='deal_prob_search_template'>
  <h3>Probability for '{{cat}}'</h3>
  <br />
  <div style='border: 1px solid #eee; font-size: 18px; padding: 7px;'>
    This deal <b>{{analysis.will_run}}</b> run again on {{date}}.
  </div>
  <br />
  <div class='alert alert-info'>A deal with '{{cat}}' runs every <b>{{analysis.slope}}</b> days in '{{loc}}'.</div>

  <h3>Previous Deals that matched this category</h3>

  <table class='table table-bordered'>
    {{#deals}}
      <tr>
        <td>
          <img src='{{image_url}}' style='width: 60px; height: 60px; float: left;'></img> 
          <div style='float: left; margin-left: 10px; width: 450px;'>
            <a href='{{original_url}}' target='_blank'>{{title}}</a><br />
            Deal started on: {{date_added}}
          </div>
        </td>
      </tr>
    {{/deals}}
  </table>
</script>