<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://www.highcharts.com/js/highcharts.js" type="text/javascript"></script>

<div class='span8' style='margin-right: 20px'>
  <h2 id='header'></h2>
  <hr />
  <div id='container'></div>
</div>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Charts</li>
      <li class="active"><a href="#" id='chart_voh'>Best Deals Per Hour</a></li>
    </ul>
  </div>
</div>

<!-- 
<script type="text/javascript">
  $.getJSON('/dashboard/data/velocity', function(data) {
    ls = data.groupon;
    series = [];
    for(x in ls) {
      v = ls[x];
      series.push({ name: v[1].title, data: [v[0]] });
    }

    var chart1; // globally available
    chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        type: 'line'
      },
      title: {
        text: 'LivingSocial Velocity'
      },
      xAxis: {
        categories: []
      },
      yAxis: {
        title: {
           text: 'Velocity'
        }
      },
      series: series
    });
  });
</script> -->